@model List<ShopHoa.Models.CartItem>
<div class="cart">
    <div class="title">
        <span class="title_icon"><img src="/Assets/Client/images/cart.gif" alt="" /></span>Giỏ hàng
    </div>
    <div class="home_cart_content">
                   Có @Model.Count sản phẩm 
    </div>
    <a href="/gio-hang" class="view_cart">Xem giỏ hàng</a>
</div> 
